*{
padding: 0;
margin: 0;
}
header{
width: 1366px;
height: 76px;
left: 0px;
top: 0px;
}
.header-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 28px;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
.logo{
position: absolute;
width: 63px;
height: 52px;
left: 98px;
top: 12px;
}
.topnav{
display: flex;
}
.topnav a{
margin: 20px;
color: #000;
font-size: 16px;
}
.cat{
    max-width: 130%;
}
.cat-container{
    width: 100%;

}
.cat-item{
    margin-top: -350px;
    margin-left: 150px;
    position: absolute;
}
.cat-item h1{
    font-size: 62px;
}
.cat-item p{
    font-size: 20px;
}
.advantages_container{
 display: flex;
justify-content: center;
    position: inherit;
}
.advantages{
    position: absolute;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.advantages_item{
    width: 30%;
}
.advantages h1{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 90px;
}
.owl1{
width: 40%;
    margin: 0 auto;
    text-align: left;
    margin-top: 850px;
}
.owl1 h5{
    text-align: center;
    font-size: 36px;
}
.menu{
left: 100px;
    margin: 100px;
    background-color: aquamarine;
    background: #FFFFFF;
box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
border-radius: 8px;
}
.owl11{
width: 40%;
    margin: 0 auto;
    text-align: left;
    margin-top: 200px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
}
.owl11 h5{
    text-align: center;
    font-size: 36px;
}
.wol{
    width: 27px;
}
.menu1{
    display: flex;
    justify-content: space-between;
    left: 100px;
    margin: 100px;
    background-color: aquamarine;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
}
.menu1 a{
    color: #848484;
}
.hodor-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 28px;
}
.logo1{
    position: absolute;
width: 32px;
height: 35px;
left: 214px;
top: 2800px;
}
.many{
color: #848484;
font-size: 12px;
position: absolute;
left: 212px;
top: 2880px;
}
.many1{
color: #848484;
font-size: 12px;
position: absolute;
left: 990px;
top: 2880px;
}
.social h6{
    font-size: 16px;
}

.social p{
    font-size: 16px;
}
.social h2{
    font-size: 36px;
}
.social{
    background-color: #FAC663;
    position: absolute;
width: 568px;
height: 580px;
left: 0px;
top: 2195px;
}






